# Human development indicator

#### In this notebook we will process a file that contains the evolution of the HDI (Human Development Index) for each country between 1990 and 2017.

#### In the first column we find the country, and in the rest of the columns, the evolutionary indicator by year.

#### In this code we are going to transform this data so that we obtain a matrix of 3 columns: country, year and indicator.
    
- To begin, we import the packages for data processing. <br>
If necessary, run in the anaconda console "pip install (package name)"

In [1]:
import pandas as pd

- We read the .csv file and convert all the columns of source countries into one.

In [2]:
df = pd.read_csv("02_Input_HumanDevelopmentIndex.csv", sep = ";", encoding = 'latin1')
df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,0.652,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,0.627,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581

In [3]:
years     = list(df)[1:len(df.columns)]
countries = list(df['Country'])

year    = []
country = []
HDI     = []

for i in range(0, len(df)):
    for y in years:
        aux_index = df.loc[i, y]
        
        year.append(y)
        country.append(countries[i])
        HDI.append(aux_index)
        
df2 = pd.DataFrame({'Country' : country,
                    'Year'    : year,
                    'HDI'     : HDI})

df2 = df2[df2['HDI'].notnull()]

df2.to_csv('02_Output_HumanDevelopmentIndex.csv', header = True, sep = ';', encoding = 'latin1', index = False, decimal = ".")